<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @client.bookname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @client.price %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
